* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  width: 1200px;
  margin: 0 auto;
}

.row {
  display: flex;
  flex-flow: wrap row;
}

.column {
  flex-direction: column;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.text-center {
  text-align: center;
}

.first {
  order: -1;
}

.last {
  order: 12;
}

.align-self {
  align-self: center;
}

.align-center {
  align-items: center;
}
.align-end {
  align-items: flex-end;
}

.center {
  text-align: center;
}

.justify-c {
  justify-content: center;
}

.between {
  justify-content: space-between;
}

.around {
  justify-content: space-around;
}

.col-1 {
  width: 8.33333%;
}

.col-2 {
  width: 16.6666%;
}

.col-3 {
  width: 25%;
}

.col-4 {
  width: 33.33333%;
}

.col-5 {
  width: 41.6666%;
}

.col-6 {
  width: 50%;
}

.col-7 {
  width: 58.33333%;
}

.col-8 {
  width: 66.6666%;
}

.col-9 {
  width: 75%;
}

.col-10 {
  width: 83.33333%;
}

.col-11 {
  width: 91.6666%;
}

.col-12 {
  width: 100%;
}

.clear {
  clear: both;
}

.left {
  float: left;
}

.right {
  float: right;
}